

  
@font-face {
    font-family: myfont;
    src: url(confession.ttf);
}
h1{
    font-family: myfont;
    font-size: xxx-large;
    color: palevioletred;
}

@font-face {
    font-family: myfont;
    src: url(confession.ttf);
}
body{
    font-family: myfont;
    font-size: x-large;
      overflow: hidden;
}
.takecare{
    padding-left: 400px;
}

.great{
    padding-right: 400px;
}
.lol{
    width: 100px;
    cursor: pointer;
    padding-right: 400px;
}
